@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>TODO LIST</h1>
    <p class="lead">A simple application to add todo items and complete them.</p>
    <p> @Html.ActionLink("Start managing your tasks", "Index", "Todo") </p>
</div>

<div class="row">

</div>